<div class="jumbotron">
  <div class="container text-center">
    <h1>New Task</h1>
    <p><%= @quote %></p>
  </div>
</div>

<div class="emp_container container-fluid text-center">
  <div class="row content">
    <div class="col-sm-4 sidenav">
    </div>
    <div class="emp_form col-sm-4 text-left">
      <div class="form_cont">
      <% if flash[:messages] %>
        <p><%= flash[:messages] %></p>
      <% end %>
      <%= form_tag "/tasks" do %>
        <% @amount.times do %>
          <div class="form-group">
            <%= label_tag :name %>
            <%= text_field_tag "tasks[][name]", "" ,:class => "form-control" %>
          </div>
          <div class="form-group">
            <%= label_tag "tasks[][total_working_time]", "Total Working Time" %>
            <%= text_field_tag "tasks[][total_working_time]", "", :class => "form-control" %>
          </div>
          <div class="hidden">
            <%= hidden_field_tag "tasks[][project_id]", @project_id %>
          </div>
          <div class="form-group">
            <%= collection_check_boxes nil, "tasks[][employee_ids]", @employees, :id, :name %>
          </div>
        <% end %>

        <%= submit_tag "Submit", :class => "btn btn-primary"%>
      <% end %>
      </div>
    </div>
    <div class="col-sm-2 sidenav">
    </div>
  </div>
</div>
</div><br>

<footer class="container-fluid text-center">
  <p>Footer Text</p>
</footer>
