<div class="jumbotron well">
  <div class="container">
    <h1 class="display-3"><%= @manager.name %></h1>
    <h4>Manager</h4>
    <p><%= @quote %></p>
  </div >
</div >


<div class="container-fluid">
  <div class="row content">
      <div class="col-sm-3 sidenav hidden-xs well emp-inbox">

        <ul class=" nav nav-pills nav-stacked create-project">
          <li id="li" class="active"><a href="/projects/new">Create Project</a></li>
        </ul>
        <ul class="mag-nav nav nav-pills nav-stacked">
        <li class="active inbox"><a data-toggle="collapse" href="#inbox">Inbox<span class="badge"><%= @manager_messages.count %></span></a></li>
        <div id="inbox" class="panel-collapse collapse">
          <ul>
            Employee Messages
            <% if @manager_messages == [] %>
              <p>No Message</p>
            <% else %>
              <% @manager_messages.each do |message| %>
                <li><a data-toggle="collapse" href=<%= "#" + "#{message.id}" %>><%= message.title %> form <%= @utility.sender_name(message) %></a></li>
                <div id=<%= "#{message.id}" %> class="panel-collapse collapse">
                  <%= message.content %>
                </div>
              <% end %>
            <% end %>
          </ul>
          <br>
          <ul>
            Sent Messages
            <% if @sent_messages == [] %>
              <p>No Message</p>
            <% else %>
              <% @sent_messages.each do |message| %>
                <li><a data-toggle="collapse" href=<%= "#" + "#{message.id}" %>><%= message.title %> to <%= message.employee.name %></a></li>
                <div id=<%= "#{message.id}" %> class="panel-collapse collapse">
                  <%= message.content %>
                </div>
              <% end %>
            <% end %>
          </ul>
          <br>
        </div>
        <li class="active"><a data-toggle="collapse" href="#message">Send Message</a></li>
        <div id="message" class="panel-collapse collapse">
          <%= form_tag "/mails", method: :"post" do%>
            <%= label_tag "Send to" %>
            <%= collection_select nil, "manager_message[employee_id]", @message_list, :id, :name %><br>
            <%= label_tag :title %><br>
            <%= text_field_tag "manager_message[title]" %><br>
            <%= text_area_tag "manager_message[content]" %><br>
            <%= hidden_field_tag "manager_message[manager_id]", @manager.id %>
            <%= hidden_field_tag "manager_message[sender]", @manager.username %>
            <%= submit_tag "Send" %>
          <% end %>
        </div>



        <h2>Employees</h2>
        <ul class="list-group">
            <% @manager.employees.each do |employee| %>
              <li class="list-group-item"><%= link_to employee.name, employee %><span class="badge"><%= employee.tasks.count %></span></li>
            <% end %>
        </ul>
        </ul>

      </div>
      <br>

      <div class="col-sm-9">
          <div class="well">
            <h4>News</h4>
              <ul class="list-group">
                <% @recent_three_messages.each do |message| %>
                  <li class="list-group-item"><%= "#{message.title} from #{message.employee.name}" %> -- <%= message.content.length > 100? message.content[0..100]+ "..." : message.content %></li>
                <% end %>
              </ul>
          </div>
          <div class="well">
            <h4>Projects</h4>
              <% @manager.projects.each do |project| %>
               <div class="panel-group">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" href=<%= "#" + "#{project.id}" %>><%= project.name %></a>
                      </h4>
                    </div>
                    <div id=<%= project.id %> class="panel-collapse collapse">
                      <div class="panel-body"><%= project.description %></div>

                      <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="70"
                        aria-valuemin="0" aria-valuemax="100" style=<%= "width:" + "#{@utility.project_progress(project)}" + "%" %> >
                          <%= "#{@utility.project_progress(project)}" + "%" %>
                        </div>
                      </div>

                      <div class="panel-footer"><%= link_to "View Project", project %></div>
                    </div>
                  </div>
                </div>
              <% end %>
          </div>
      </div>
    </div>
  </div>
