

<div class="emp_container container-fluid text-center">
  <div class="row content">
    <div class="col-sm-4 sidenav">
    </div>
    <div class="col-sm-4 text-left">
      <h1 class="display-3">Creat Project</h1>
    <p><%= @quote %></p>
      <% if flash[:messages] %>
        <p><%= flash[:messages] %></p>
      <% end %>
      <%= form_for @project do |f|%>
        <div class="form-group">
          <%= f.label :name, "Project Title" %>
          <%= f.text_field :name, :class => "form-control", placeholder: 'Project Title' %>
        </div>
        <div class="form-group">
          <%= f.label :description %>
          <%= f.text_area :description, :class => "form-control"%>
        </div>
          <%= f.hidden_field :manager_id, :value => @manager.id %>
        <%= submit_tag "Submit", :class => "btn-create-project btn btn-primary"%>
      <% end %>
    </div>
    <div class="col-sm-4 sidenav">
    </div>
  </div>
</div>
